* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Flamenco', cursive;
 
  }

/* ----- style scrollbar div champions----- */
  .champions::-webkit-scrollbar-track
  {
    box-shadow: inset 0 0 6px rgba(133, 163, 209, 0.8);
    border-radius: 10px;
  }  
  .champions::-webkit-scrollbar
  {
    
    width: 18px;
    background-color: rgba(0,0,0,0.3);
  }  
  .champions::-webkit-scrollbar-thumb
  {
  
    border-radius: 10px;
    height: 120px;
    background-image: -webkit-gradient(linear,
                       left bottom,
                       left top,
                       color-stop(0.44, rgb(122,153,217)),
                       color-stop(0.72, rgb(73,125,189)),
                       color-stop(0.86, rgb(28,58,148)));
  }
  
/* ----- End scrollbar div champions----- */

/*------ TagName HEADER and NAV (ul - li - a) -------*/
header{
  width: 100%;
  height: 70px;
  background: black;
}


  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    max-width: 1300px;
    margin: auto;
  
  }
  nav ul li {
    font-family: sans-serif;
   
    display: inline-block;
   justify-content: space-between;
    color: #fff;
  }

  nav ul li a {
    display: inline-block; 
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 20px 10px;
  
  } 
  nav ul li a:hover {
    color: rgb(165, 218, 230);
 
  }

 li a > img{
  /*   display: inline-block; */
    display: none;
    margin: auto;
    width: 120px;
    margin-top: -10px;
  }


/*   ----------------- end nav ----------------------- */
/* ------------- class section champions -------------- */

.sectionChampions{
 
  width: 100%;

  height: 1000px;

  background-image:url(https://fondosmil.com/fondo/5089.jpg) ;
  background-position: center;
  background-size: cover;
  padding: 40px;

}
.sectionChampions2{
  background: url(  http://www.plusgamingmagazine.com/wp-content/uploads/2020/07/LOL_PROMOART_4.jpg
  );
  width: 100%;
  height: 1000px;
  background-position: center;
  background-size: cover;
  
}


.search{
  background-color: rgba(0,0 ,0, 0.9);
  width: 100%;
  height: 80px;
  margin: auto;
  margin-top: -20px;
  display: flex;
  justify-content: right;
  padding: 20px;

}
#inputSearch{
width: 100px;

height: 40px; 
font-family: sans-serif;
padding: 5px;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;
background: #a2c7ee;
font-size: 16px;

  }

#selectDificult{

    font-family: sans-serif;

    display:none;
    font-size: 16px;
    width: 120px;
    height: 40px;
    padding: 5px;
    margin-left: 10px;
margin-bottom: 10px;
background: #3386df;
margin-right: 10px;
color: white;
  }
 #rolChampion{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width:100%;
  background-color: rgba(0,0 ,0, 0.9);
 }
 .containerChampionsRol{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width:100%;
  margin: auto;
  
 }
.champions {
  background-color: #000000b3;
  display: flex;
  width: 100%;
  max-width:100%;
  height: 770px;
  padding-top: 30px;
  justify-content: space-around;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow-y: scroll;
  color: white;
  
 
  background-color: rgba(0,0 ,0, 0.9);

}
/* ----------------------- */
/* ------Cards Champions----------- */


.champions .card {
  position: relative;
  background: #000;
  overflow: hidden;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 30px;
  margin: 20px 15px;
  height: 200px;
 
}


.champions .card:hover {
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.champions .card .img-box {
  position: relative;
  top: 0;
  left: 0;
  max-width: 250px;
  width: 100%;
  height: auto;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.champions .card:hover .img-box {
  opacity: 0.5;
}

.champions .card .img-box img {
  width: 100%;
  margin-bottom: 0px;

  height: 200px;
}

.champions .card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -65%;
  padding: 10px;
  padding-top:40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.champions .card:hover .content {
  bottom: 0;
  
}
.champions .card:nth-child(n) .content {
  background: -webkit-gradient(linear, left bottom, left top, from(rgb(109, 42, 42)), to(transparent));
  background: -webkit-linear-gradient(bottom, black, transparent);
  background: -o-linear-gradient(bottom, black );
  background: linear-gradient(0deg, black, transparent);
}
.champions .card .content h2 {
  margin: 0 0 10px; 
  padding: 0;  
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px blue;
  color: #fff;

}
.champions .card .content p {
  margin: 10px;
  padding: 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-family: sans-serif;
}

/* ---- End card---- */
/* ---- Efect bnt rol---- */

.btn {
  width: 180px;
  height: 60px;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  /* 
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; */
  font-size: 18px;
  line-height: 1;
  margin: auto;
  padding: 20px;
  margin-top: 20px;


  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Flamenco', cursive;

}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}
.third {
  border-color: #3498db;
  letter-spacing: 0.5px;
  text-align: center !important;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 2px blue;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #006fe6;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #006fe6;
}
.btnSearch{
  width: 100px;
  height: 40px;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  font-size: 18px;
  margin: auto;
/*   padding: 20px; */
}
.btnSearch:hover, .btnSearch:focus {
  color: #fff;
  outline: 0;
}
/* ------ styles two part----- */
.banner{
  background-color: rgba(0,0 ,0, 0.9);
  width: 100%;
  height: 150px;
}
h4{
  color: white;
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
  letter-spacing: 1.5px;
}
article{

  width: 100%;
  max-width: 300px;
  height: 200px;
  margin-top: 80px; 
  margin: auto;
}
.textArticle{
  width: 100%;
  padding: 100px;
  color: white;
  font-size: 24px;
  font-family: flamenco;
  letter-spacing: 1.2px;
  line-height: 50px;
  margin-bottom: 100px;
  text-align: center;
  background-color: rgba(0,0 ,0, 0.9);
}
article > img{
  display: block;
  margin: auto;
  width: 500px;
}

footer{
  width: 100%;
  height: 90px;
  background: black;
}
.textFooter{
  text-align: center;
  color: white;
  padding: 30px;
  font-family: sans-serif;
  letter-spacing: 1.2px;
}


h6{
color: white;
text-align: center;
font-size: 20px;

}

/* ------ aplicate medias queries----- */

@media all and (min-width:200px){
  #btn-menu{
    display: none;
  }
header{
  height: 100px;
  padding: 30px;
  

  /* z-index: 100; */
}
header label {
  display: block;
  width: 50px;
  height: 50px;
  padding: 5px;
 

}
header label img {
  display: block;
  width: 40px;
  
 
 
}
header label:hover{
  cursor: pointer;
  background: rgba(0,0,0,0.3);
}
nav ul{
  flex-direction: column;
}
#navDinamic{
  margin-left: -100%;
  position: absolute;
}

  nav ul li  {
  
    width: 100%;
    display: block;
  } 
  nav ul li:hover  {
  
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #006fe6;
  } 
 
  #btn-menu:checked ~ .container > #navDinamic{
    margin-left:-10%;
    width: 580px;   
    position: relative;
    z-index: 100;
    padding: 20px;
    padding-left: 20px;
    background: black;
    border-radius: 20px;
    
    
  }

  #inputSearch{
    width:150px;
  }
  .h2Champions{
    display: none;
  }
  #rolChampion{
    display: none;
  }
  h4{
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: 50px;
    letter-spacing: 1.5px;
  }
  article{
  
    width: 100%;
    max-width: 300px;
    height: 200px;
   /*  margin-top: 50px;  */
    padding-top: 50px;
    margin: auto;
  }
  .textArticle{
    width: 100%;
    padding: 20px;
    color: white;
    font-size: 18px;
    font-family: flamenco;
  /*   letter-spacing: 1.2px; */
   /*  line-height: 50px; */
    margin-bottom: 30px;
    text-align: center;
    background-color: rgba(0,0 ,0, 0.9);
  }
  figure > img{
    display: block;
    margin: auto;
    width: 400px;
    margin-bottom: 40px;
  }

}

@media all and (min-width:600px){
  #btn-menu:checked ~ .container > #navDinamic{
    margin-left:0;
    width: 100%;   
    position: relative;
    padding: 0px;
   
    border-radius: 0;  
    height: 70px; 
    
  }

  #navDinamic{
    margin-left: 0;
    margin: 0;
    position: relative;
  }
  #btn-menu{
    display: none;
  }
  
  header{
    height: 100px;
    padding: 20px;
    position: relative;
  }
  
    nav ul li  {
    
      width: auto;
      display: block;
    } 
    .hide{
     display: none;
    } 
 
  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
  
  }
  nav ul li {
    font-family: sans-serif;
   
    display: inline-block;
   justify-content: space-between;
    color: #fff;
  }

  nav ul li a {
    display: inline-block; 
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 20px 10px;
  
  } 
  nav ul li:hover  {
  
    box-shadow: 0 0 0;
  } 
  #rolChampion{   
    
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width:100%;
  background-color: rgba(0,0 ,0, 0.9);
  padding: 10px;
 
  }
  li a > img{
     display: inline-block; 
    width: 120px;
    margin-top: -10px;
  }
  nav ul li a {
  
    font-size: 14px;    
    } 
    #inputSearch{

      width: 300px;
   }
   #selectDificult{
    font-size: 16px;
    width: 200px;
  }
  #selectDificult{
    display:block;
  }
 
  .h2Champions{
    display: none;
    margin-top: 10px;
  }
  article{   
  
    max-width: 500px;
    height: 500px;
    margin: 120px;

  }
  .sectionChampions{

    height: 1200px;  
  
  }
  header label {
    display: none;
    
  
  }
}


@media all and (min-width:1200px){
  #rolChampion{
    width: 20%;
    padding-left: 10px;
    border-radius: 0 0 0 50px;

  }
  .champions{
    width: 80%;
  }
  
  li a > img{
  
    width: 150px;
    margin-top: -20px;
  
  }
  nav ul li a {
  
    font-size:22px;    
  
  } 
  .sectionChampions{
    height: 1000px;
 
  }
.h2Champions{
  display: block;
  color: #a2c7ee;
 margin-right: 500px; 
}
article{
 
  max-width: 1200px;
  margin: 200px;
  height: 550px;
  margin: auto;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
  
}
figure > img{
  margin-top: 100px;
  display: block;
  margin: auto;
  width: 500px;
}
.textArticle{
  max-width: 500px;
  padding: 100px;
  color: white;
  font-size: 24px;
  font-family: flamenco;
  letter-spacing: 1.2px;
  line-height: 50px;
  margin-bottom: 100px;
  text-align: center;
  background-color: rgba(0,0 ,0, 0.9);
  border-radius: 100px;
  height: 550px;
}
figure{
  border-radius: 400px;
  background-color: rgba(0,0 ,0, 0.9);
  padding-top: 50px;
}

.search{
  border-radius: 50px 0 0 0;

}
}
/* ultima modificacin solucionar la linea webkit 11 */
/* ultima modificacin solucionar la linea webkit 11 */

/* modal */

.modal-container {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(56, 56, 56, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #3386df;
  line-height: 25px;
  cursor: pointer;
  border-radius: 50%;
}

.modal {
  width: 70%;
  height: 75%;
  
padding-top: 100px;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 100px;
  
  overflow:hidden;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  transition: transform 0;
  transform: translateX(0%);
  border-radius: 20px;
 /*  padding-top: 50px; */
  border-color: #3498db;
/*   box-shadow: 0 0 10px 10px #3498db inset, 0 0 0 0 #006fe6;
  -webkit-transition: all 150ms ease-in-out; */
  transition: all 150ms ease-in-out;
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #006fe6;
 
}


/* -------------Styles container modal---------- */
/* kue kjwnfejnjwe fwe fkejfnewkjfnew */
.containerModal{
width: 100%;

}
.divNameRole{
/*   margin-top: 10px; */
  width: 100%;
  height: 80px;
  display: flex;
 /*  justify-content: center; */
/* background: black; */
justify-content: space-between;
border-radius: 20px;
padding: 10px;
}
.nameModal{

  border-radius: 20px;
  background: black;
width: 69.5%;
text-align: center;
font-size: 30px;
font-family: 'Rokkitt', serif;
padding: 15px;
}
.containerRole{
 
  border-radius: 20px;
  background: black;
  width: 29.5%;
  font-size: 20px;
  font-family: arial;
  text-transform: uppercase;
  line-height: 30px;
  font-family: 'Rokkitt', serif;

  }
  .role{    
    font-size: 18px;
    font-family: 'Rokkitt', serif;
  }
.containerImageDescrip {
  display: flex !important;
  justify-content: space-between !important;
  width: 100%;
 padding: 10px; 
}
.containerImage{
width: 70%;
/* border-color: black;
border-style: solid;
border-width: 10px;
border-radius: 20px; */
}
.imageModal{
  display: block;
  width: 100%;  
  border-radius: 20px;
  }
.descriptionModal{
padding: 30px;
width: 100%;
margin-left: 10px;
margin-bottom: 10px;
text-align: justify;
background-color: rgba(0,0 ,0, 0.9);
border-radius: 20px;
font-family: 'Rokkitt', serif;
font-weight: 200;
font-size: 18px;
}
.containerDesAbil{
  display: flex;
  flex-wrap: wrap;
  width:30%;
justify-content: center;
 
}
.containerAbilities{
 
background: black;

  width: 100%;

margin-left: 10px;
border-radius: 20px;

}


















