header {
    background: black;
    width: 100%;
    position: sticky;
    z-index: 100;
    height: 80px;
    
 
  }
  img{
    padding-top: 5px;
    width: 10%;
  }
 
  nav ul {
    list-style: none;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
  
  }
  nav ul li {
    font-family: sans-serif;
    font-size: 14px;
    display: inline-block;
  /*   justify-content: space-between; */
    color: #fff;
    padding: 30px;
  

  }
  nav ul li a {
    display: inline-block; 
    color: #fff;
    text-decoration: none;
    justify-content: space-between;
    padding-left: 230px;
    padding-top: 30px;

  }